:root {
  --dark: rgb(243, 243, 243);
  --light: rgb(16, 16, 16);
  --grey: #272727;
  --brown: #CB997E;
  --darkRed:rgb(206, 72, 72);
  --green: #6B705C;
  --purple: #774C60;
  --o1: .25;
  --o2: .4;
  --dark_o1: rgba(243, 243, 243, var(--o1));
  --dark_o2: rgba(243, 243, 243, var(--o2));
  --brown_o1: rgba(203, 153, 126, var(--o1));
  --green_o1: rgba(107, 112, 92, var(--o1));
  --purple_o1: rgba(119, 76, 96, var(--o1));
  --brown_o2: rgba(203, 153, 126, var(--o2));
  --green_o2: rgba(107, 112, 92, var(--o2));
  --purple_o2: rgba(119, 76, 96, var(--o2));
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--light);
  background: var(--dark);
  font-family: system-ui;
}

h1 {
  letter-spacing: .04em;
  font-size: 2.6em;
  margin: 0;
}

h2 {
  letter-spacing: .04em;
  font-size: 1.7em;
  margin: 0;
}

h3 {
  letter-spacing: .04em;
  font-size: 1.7em;
  margin: 0;
}

a {
  color: var(--light);
  text-decoration: none;
}

p {
  font-weight: 300;
}

button {
  font-weight: bold;
  color: var(--dark);
  padding: 1em 1.75em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  background-color: var(--light);
  transition: background-color .5s ease;
}

button:hover {
  background-color: var(--grey);
  transition: background-color .5s ease;
}

form {
  margin-bottom: 1em;
}

form input {
  display: block;
  margin: .3em 0 .75em 0;
}

ul {
  margin: 0;
}

input[type="text"] {
  background: var(--light);
  color: var(--dark);
  border: none;
  padding: 1em 1.5em;
  border-radius: 1em;
}

body > header {
  padding: 3em 4em 2em 4em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > header img {
  width: 225px;
}

main {
  padding: 0 4em 4em 4em;
  height: 100%;
  width: 100%;
}

main header {
  max-width: 700px;
}

main header p {
  margin-top: .3em;
}

select {
  appearance: none;
  font-weight: bold;
  padding: 1em 2.25em 1em 1.75em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  color: var(--dark);
  transition: background-color .5s ease;
  background-color: var(--light);
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

select:hover {
  background-color: var(--grey);
  transition: background-color .5s ease;
}

.home section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2em 3em;
  margin-top: 2em;
}

.home section section {
  height: 100%;
  width: 100%;
  max-width: 420px;
  background: var(--brown_o1);
  display: flex;
  flex-direction: column;
  padding: 2.1em 2.4em;
  border-radius: 1em;
  color: var(--brown);
  position: relative;
  transform: scale(1);
  transition: transform .5s ease, box-shadow .75s ease;;
}

.home section section:hover {
  transform: scale(1.007);
  transition: transform .5s ease, box-shadow .75s ease;
  box-shadow: 0 0 15px var(--brown_o1);
}

.home section section:nth-child(3n+3):hover {
  box-shadow: 0 0 15px var(--green_o1);
}

.home section section:nth-child(3n+2):hover {
  box-shadow: 0 0 15px var(--purple_o1);
}

.home section section:nth-child(3n+3) {
  background: var(--green_o1);
  color: var(--green);
}

.home section section:nth-child(3n+2) {
  background: var(--purple_o1);
  color: var(--purple);
}

.home section h3 {
  display: flex;
  align-items: flex-start;
}

.home section section p {
  margin: .5em 0;
  font-size: .85em;
  color: var(--light);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;

}

.home section section span {
  display: flex;
  gap: 8px;
}

.home section section span img {
  height: 1em;
  margin-right: 8px;
  width: 1em;
}

.home section section span a {
  background-color: var(--dark_o1);
  border-radius: 1em;
  display: flex;
  padding: 0.5em 1em;
  transition: background-color .5s ease;
}

.home section section span a:hover {
  background-color: var(--dark_o2);
  transition: background-color .5s ease;
}

.hide {
  display: none;
}

@media only screen and (max-width: 750px){
  body {
    font-size: .8em;
  }

  body > header {
    flex-wrap: wrap;
    padding: 2em;
    gap: 1em;
  }

  main {
    padding: 0 2em 2em 2em;
  }

  .home section h3::before {
    margin-right: .3em;
  }
}

@media (prefers-color-scheme: light) {
  select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  }
} 