:root {
    --brown: #CB997E;
    --brown_o1: rgba(203, 153, 126, var(--o1));
    --dark: rgb(16, 16, 16);
    --dark_o1: rgba(16, 16, 16, var(--o1));
    --dark_o2: rgba(16, 16, 16, var(--o2));
    --green: #6B705C;
    --green_o1: rgba(107, 112, 92, var(--o1));
    --grey: #272727;
    --light: rgb(243, 243, 243);
    --light_o1: rgba(243, 243, 243, var(--o1));
    --light_o2: rgba(243, 243, 243, var(--o2));
    --o1: .25;
    --o2: .4;
    --purple: #774C60;
    --purple_o1: rgba(119, 76, 96, var(--o1));
}

* {
    box-sizing: border-box;
}

body {
    background: var(--light);
    color: var(--dark);
    font-family: system-ui;
    padding: 1em 0;
}

h1 {
    font-size: 2.6em;
    letter-spacing: .04em;
    text-align: center;
}

a {
    color: var(--dark);
    text-decoration: none;
}

form {
    text-align: center;
}

form select {
    appearance: none;
    background-color: var(--dark_o1);
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-radius: 1em;
    color: var(--light);
    cursor: pointer;
    font-weight: bold;
    padding: 1em 3.5em 1em 1.75em;
    transition: background-color .5s ease;
}

form select:hover {
    background-color: var(--dark_o2);
    transition: background-color .5s ease;
}

form input[type=submit].hide {
    display: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 2em 3em;
    justify-content: center;
    margin-top: 2em;
}

section section {
    background: var(--brown_o1);
    border-radius: 1em;
    color: var(--brown);
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 420px;
    padding: 2.1em 2.4em;
    transition: transform .5s ease, box-shadow .75s ease;
    width: 100%;
}

section section:nth-child(3n+2) {
    background: var(--purple_o1);
    color: var(--purple);
}

section section:nth-child(3n+3) {
    background: var(--green_o1);
    color: var(--green);
}

section section:hover {
    box-shadow: 0 0 15px var(--brown_o1);
    transform: scale(1.007);
    transition: transform .5s ease, box-shadow .75s ease;
}

section section:nth-child(3n+2):hover {
    box-shadow: 0 0 15px var(--purple_o1);
}

section section:nth-child(3n+3):hover {
    box-shadow: 0 0 15px var(--green_o1);
}

section section h3 {
    font-size: 1.7em;
    letter-spacing: .04em;
    margin: 0;
}

section section p {
    color: var(--dark);
    font-size: .85em;
    font-weight: 300;
    margin: .5em 0;
}

section section span {
    display: flex;
    font-size: .85em;
    gap: 8px;
}

section section span a {
    background-color: var(--light_o1);
    border-radius: 1em;
    display: flex;
    padding: 0.5em 1em;
    transition: background-color .5s ease;
}

section section span a:hover {
    background-color: var(--light_o2);
    transition: background-color .5s ease;
}

section section span a.language:hover {
    background-color: var(--light_o1);
}

section section span a img {
    height: 1em;
    margin-right: 8px;
    width: 1em;
}